.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px lightgray;
}
#Title {
    text-align: center;
    display: grid;
}
#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}
.buttons {
    display: grid;
    border-bottom: 1px solid gray;
    border-left: 1px solid grey;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button > div {
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
.button {
    border: 0.5px solid grey;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#equal {
    background-color: aqua;
    color: aliceblue;
}
.button:hover{
    background-color: darkslategray;
    color: azure;
    transition: 0.5s ease-in-out;
}

